<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/profile.css" />
    <meta charset="UTF-8" />
    <title><%- title %></title>
  </head>
  <body>
    <%- include("../models/header.ejs") %>
    <div class="section"><%- include("./models/form.ejs") %></div>
    <div id="contenido"></div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js" type="module"></script>
</html>
