<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/views.css" />
    <meta charset="UTF-8" />
    <title>Mis mensajes</title>
  </head>
  <body>
    <%- include("../models/header.ejs") %>
    <section class="section-email">
      <h2>Mis mensajes:</h2>
      <% messageEmail.forEach(function (p) { %>
      <div class="email">
        <p><%- p.email %>:</p>
        <p><%- p.mensaje %></p>
      </div>
      <% }) %>
    </section>
  </body>
</html>
