<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/views.css" />
    <title>Config ENV</title>
  </head>
  <body>
    <header>
      <h2>Configuración del servidor</h2>
    </header>
    <div class="section-config">
      <h3>Variables de entorno:</h3>
      <% data.forEach(function (env) { %>
      <p><%= env %></p>
      <% }) %>
    </div>
  </body>
</html>
