<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Profile</title>
  </head>

  <body>
    <header>
      <img loading="lazy" src="/image/<%- user.image %>" />
      <p><%- user.name %></p>
      <ul>
        <li>
          <a href="/profile"> Inicio </a>
        </li>
        <li>
          <a href="/chat"> Chat </a>
        </li>
        <li>
          <a href="/carrito/<%- carritoID %>"> Carrito </a>
        </li>
        <li><a href="/logout"> Logout </a></li>
      </ul>
    </header>
    <section class="section-session">
      <div class="producto-body">
        <%- include ("../models/productos.ejs") %>
      </div>
    </section>
  </body>
  <script></script>
</html>
