<div class="data-chat">
  <h2>Dejanos tu mensaje. ¡A la brevedad responderemos!</h2>
  <form class="form-chat" id="form">
    <input
      id="msg"
      type="text"
      class="input"
      name="mensaje"
      autocomplete="off"
      placeholder="Por favor, ingrese su mensaje."
    />
    <input type="hidden" id="email" name="email" value="<%- user.email %>" />
    <input class="btn" type="submit" value="Ingresar" autocomplete="off" />
  </form>
</div>
