<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/views.css" />
    <title>Error</title>
  </head>
  <body>
    <header class="header-error">
      <h2>Error</h2>
    </header>
    <h2 class="error">Error: <%- error %></h2>
  </body>
</html>
